# Database configuration
DB_NAME=<db_name>
DB_USER=<user>
DB_PASSWORD=<password>
DB_HOST=<db_host>
DB_PORT=<db_port>

# Admin credentials
ADMIN_USERNAME=<admin_username>
ADMIN_PASSWORD=<admin_password>
