# Variables for Docker Compose
POSTGRES_DB=<db_name>
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>

# Variables for local development (optional)
DB_NAME=<local_db_name>
DB_USER=<local_user>
DB_PASSWORD=<local_password>
DB_HOST=<local_host>
DB_PORT=<local_port>